DataFrame 내보내기

In [1]:
from pandas import read_excel

데이터 가져오기

In [2]:
df = read_excel("https://data.hossam.kr/grade.xlsx", index_col='이름')
df

    학년  성별  국어  영어  수학  과학
이름
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

데이터 내보내기

엑셀 파일로 내보내기

In [3]:
# 원본 파일 그대로 저장하기
df.to_excel("1.xlsx")

파라미터 설정

In [4]:
# 인덱스를 포함하는 경우
df.to_excel("2.xlsx", # 파일이름
            index=True, # 인덱스 포함 여부 (생략시 True)
            index_label="이름" # 인덱스 필드의 제목 (생략시 빈칸으로 설정됨)
        )

In [5]:
# 인덱스를 포함하지 않는 경우
df.to_excel("3.xlsx", # 파일이름
            index=False, # 인덱스 포함 여부(기본값=True)
            columns=['학년', '성별', '국어'], # 저장할 컬럼 지정
            header=['level', 'sex', 'kor'] # 컬럼별 제목 설정
        )

CSV로 내보내기

원본 그대로 저장하기

In [6]:
df.to_csv("1.csv", encoding='utf-8')

In [7]:
# 파라미터 설정
# 인덱스를 포함하는 경우
df.to_csv("2.csv",          # 파일이름
        encoding="utf-8",   # 파일 인코딩
        index=True,         # 인덱스 포함 여부 (생략시 True)
        index_label="이름"  # 인덱스 필드의 제목 (생략시 빈칸으로 설정됨)
    )

In [8]:
# 인덱스를 포함하지 않는 경우
df.to_csv("3.csv",          # 파일이름
        encoding="utf-8",   # 인코딩
        index=False,        # 인덱스 포함 여부(기본값=True)
        columns=['학년', '성별', '국어'], # 저장할 컬럼 지정
        header=['level', 'sex', 'kor']   # 컬럼별 제목 설정
    )

실습 결과물 모두 삭제

In [9]:
import os
import glob as gl

list1 = gl.glob("*.xlsx")
list2 = gl.glob("*.csv")
list3 = list1 + list2

for items in list3:
    os.remove(items)
    print("%s가 삭제됨" % items)

1.xlsx가 삭제됨
2.xlsx가 삭제됨
3.xlsx가 삭제됨
1.csv가 삭제됨
2.csv가 삭제됨
3.csv가 삭제됨