판다스는 1차원 배열 형태의 시리즈 자료 구조와 2차원 배열 형태의 데이터프레임 자료구조를 지원한다. 데이터프레임은 엑셀의 테이블과 비슷하게 행과 열로 만들어진다.

In [1]:
import pandas as pd

In [5]:
data1 = ['a','b','c','d','e']
sr1 = pd.Series(data1)
print("자료형:", type(sr1))
print(sr1)

자료형: <class 'pandas.core.series.Series'>
0    a
1    b
2    c
3    d
4    e
dtype: object

In [7]:
sr1.loc[0]
# 시리즈의 객체원소를 추출할 때는 loc 인덱서를 사용한다.
sr1.loc[1:3]
# 주의 할점은 시리즈의 
# loc인덱서의 경우 마지막 인덱스도 포함이 된다.

1    b
2    c
3    d
dtype: object

In [8]:
data2 = (1,2,3.14,100,-10)
sr2 = pd.Series(data2)
print(sr2)

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

In [11]:
# 1차원 구조의 시리즈를 여러 개 결합하면 데이터프레임을 만들 수 있다.
# 시리즈 2개를 원소로 갖는 딕셔너리를 정의하고
# DataFrame 함수에 입력한다. 딕셔너리의 key값에 해당하는 값이
# 각열의 이름이 되고, value는 시리즈가 열의 데이터를 갖는다.
dict_data = {'c0':sr1, "c1":sr2}
df1 = pd.DataFrame(dict_data)
df1
# 데이터 프레임 없이 출력할 경우 각각 따로 딕셔너리가 만들어진다
# 지금 형태는 left join형태로 보이지만 아닌경우 2개의 딕셔너리로 보인다.

  c0      c1
0  a    1.00
1  b    2.00
2  c    3.14
3  d  100.00
4  e  -10.00

In [12]:
type(df1)
# 데이터프레임의 열 이름은 cloumns 속성으로 추출한다
# 딕셔너리의 키인 c0, c1이 데이터프레임의 열 이름으로 반환됨을 알 수 있다.

pandas.core.frame.DataFrame

In [14]:
df1.columns
# df1의 칼럼(열,key)확인하기

Index(['c0', 'c1'], dtype='object')

In [15]:
df1.columns = ['string', 'number']
df1
# c0, c1이 었던 칼럼명을 string, number로 수정하기

  string  number
0      a    1.00
1      b    2.00
2      c    3.14
3      d  100.00
4      e  -10.00

In [16]:
df1.index
#행 인덱스는 정수0부터 4까지 오름차순으로 자동 지정된다.

RangeIndex(start=0, stop=5, step=1)