Series 자료형

1 Pandas 패키지

Pandas가 사용되는 경우
SQL 테이블 또는 Excel 스프레드 시트에서와 같이 이질적으로 유형이 지정된 열이있는 데이블 형식 데이터
정렬되고 정렬되지 않은 시계열 데이터
행 및 열 레이블이 포함 된 임의의 행렬 데이터
일반적인 통계 데이터 세트

Pandas 데이터 구조
1차원 Series : 균일한 유형의 배열로 표시된 1차원 데이터
2차원 DataFrame : 행과 열이 있는 크기가 가변적인 테이블 형식의 2차원 데이터

In [1]:
from pandas import Series

2 Series 자료형

Series 자료형의 구조
pandas 패키지에 포함되어 있는 자료형으로 list > numpy array > series 순으로 기능이 확장된다.
인덱스를 명시적으로 포함하고 있는 형태이며, 엑셀의 열 하나를 표현하고 있다고 이해할 수 있다.

In [2]:
item = [10,30,50,70,90]
column = Series(item)
column

0    10
1    30
2    50
3    70
4    90
dtype: int64

In [3]:
print(column[0])
print(column[1])
print(column[2])

10
30
50

In [4]:
column.values

array([10, 30, 50, 70, 90], dtype=int64)

In [5]:
type(column.values)

numpy.ndarray

In [6]:
# list 자료형으로 변환
mylist = list(column.values)
mylist

[10, 30, 50, 70, 90]

In [7]:
column.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
type(column.index)

pandas.core.indexes.range.RangeIndex

In [9]:
mylist = list(column.index)
mylist

[0, 1, 2, 3, 4]

In [10]:
in1 = column[column > 30]
in1

2    50
3    70
4    90
dtype: int64

In [11]:
in2 = column[column <= 70][column > 10]
in2

1    30
2    50
3    70
dtype: int64

In [12]:
in3 = column[(column <= 10) | (column >= 70)]
in3

0    10
3    70
4    90
dtype: int64

In [13]:
# 인덱스를 직접 지정하면서 시리즈 만들기
# -> 지난주 주말에 대한 매출액
week1 = Series([290000, 310000], index=['sat', 'sun'])
week1

sat    290000
sun    310000
dtype: int64

In [14]:
week2 = Series([120000, 220000], index=['sun', 'sat'])
week2

sun    120000
sat    220000
dtype: int64

In [15]:
# 시리즈 객체의 사칙연산
# -> index가 동일한 항목끼리 연산이 수행된다.
merge = week1 + week2
merge

sat    510000
sun    430000
dtype: int64