## 단일 표본 T-Test

###### 하나의 모집단 평균이 이전보다 커졌는지 작아졌는지 달라졌는지를 통계적으로 알아보기 위해 사용
###### 기존에 알려져 있던 사실이 현재는 어떻게 변화했는 지를 확인하는 방법

## #01. 작업준비

##### 패키지 참조
###### scipy 패키지의 설치가 필요하다

In [1]:
from scipy import stats
from pandas import read_excel

## #02. 예시1

###### 주어진 데이터는 강아지 25마리의 체온을 측정한 데이터이다. 과거의 자료에서 강아지의 평균 체온은 24.3알려져 있다. 이번에 조사한 데이터에서도 강아지의 평균 체온이 24.3이라고 해도 좋은지 알고 싶다.

#### 가설 설정
###### 강아지의 평균 체온 : u
###### 귀무가설(H0) : u = 24.3
###### 대립가설(H1) : u != 24.3

In [2]:
df = read_excel("https://data.hossam.kr/E02/temperature.xlsx")
df

      체온
0   25.8
1   24.6
2   26.1
3   22.9
4   25.1
5   27.3
6   24.0
7   24.5
8   23.9
9   26.2
10  24.3
11  24.6
12  23.3
13  25.5
14  28.1
15  24.8
16  23.5
17  26.3
18  25.4
19  25.5
20  23.9
21  27.0
22  24.8
23  22.9
24  25.4

In [3]:
result = stats.ttest_1samp(df['체온'], 24.3)
result

TtestResult(statistic=2.7127692953052716, pvalue=0.012145537241648427, df=24)