In [1]:
from bs4 import BeautifulSoup
import requests
import time
from pandas import DataFrame

In [2]:
page_num = [0, 1, 11, 21]
search = input("검색할 내용을 입력하세요:")
#url 생성
urlEL = "https://search.naver.com/search.naver?sm=tab_hty.top&where=news&query=" + search + "%start=" + str(page_num[0])
print("생성url: ",urlEL)

생성url:  https://search.naver.com/search.naver?sm=tab_hty.top&where=news&query=날씨%start=0

In [3]:
userAgent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"

In [4]:
# 접속객체 생성
session = requests.Session()
# 접속객체에 부가정보(header) 삽입하기
session.headers.update({
    "Referer": "",
    "User-Agent": userAgent
})
news = []
for i in range(len(page_num)):
    url = "https://search.naver.com/search.naver?sm=tab_hty.top&where=news&query=" + search + "%start=" + str(page_num[i])

    r = session.get(url)
    if r.status_code != 200:
        msg = "[%d Error] %s 에러가 발생함" % (r.status_code, r.reason)
        raise Exception(msg)
    r.encoding = "utf-8"
    soup = BeautifulSoup(r.text)

    articles = soup.select("div.group_news > ul.list_news > li div.news_area > a")

    news_title = []
    content = []
    agency = []
    for i in articles:
        news_title.append(i.attrs['title'])

        content.append(i.attrs['href'])
# print(news_title)
# print(content)
df = DataFrame(content, news_title)
df.to_excel("네이버기사.xlsx")
df

                                                                                                    0
주말 날씨, 제주 비·전국 곳곳 소나기..다음주 30도 안팎 무더위                                 http://www.breaknews.com/964764
남양주시 다산1동 지역봉사단, ‘바다의 시작’ 봉사활동 START!                                 http://www.breaknews.com/897861
[오늘날씨] 21대 국회의원 선거일, 대체로 맑고 포근                               http://kor.theasian.asia/archives/259977
[오늘날씨] 전국 대부분 미세먼지 '나쁨'···오전부터 비오는 곳도                        http://kor.theasian.asia/archives/244592
[오늘날씨] 추석연휴 마지막 날 수도권·호남 가끔 비···미세먼지 좋은 편                    http://kor.theasian.asia/archives/238509
[오늘날씨] 아침 6도 '일교차' 크고 산간 '서리'··그윽한 가을 햇살                     http://kor.theasian.asia/archives/240389
'20세기 소년소녀' 류현경 이제 짝사랑은 No! 드디어 쌍방 연애 START!        http://www.gukjenews.com/news/articleView.html...
[유통가 레이더] "삼성·애플페이 기다려"... 11번가 SK페이, 전국 CU매장에서...  http://www.greened.kr/news/articleView.html?id...
대전엑스포다리위에서 버스킹 공연 펼친다...                                              http://www.breaknews.com/961333
합천 황매산 철쭉제 4년만에 개최...4월 29일~5월 14일                                    http://www.breaknews.com/958788