In [1]:
# ppt, word 등 제출 형식은 자유 결정
# 작성이 완료된 파일을 leekh4232@kakao.com
# 6월 29일까지

In [2]:
# 수집할 데이터에 대한 관심사가 무엇인지 기술

In [3]:
# 관심사와 관련된 데이터를 수집할 수 있는 웹사이트
url1 = 'https://brunch.co.kr/@gorrajeju/775'
url2 = 'https://menupick.tistory.com/15'
url3 = 'https://welcome8007.com/33'
url4 = 'https://www.maybugs.com/news/articleView.html?idxno=581068'
url5 = 'https://monimoney.tistory.com/entry/%EB%B9%84-%EC%98%A4%EB%8A%94-%EB%82%A0-%EB%A8%B9%EC%9C%BC%EB%A9%B4-%EB%8D%94-%EB%A7%9B%EC%9E%88%EB%8A%94-%EC%9A%94%EB%A6%AC'

In [4]:
import requests
from bs4 import BeautifulSoup
from pandas import DataFrame

In [5]:
userAgent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"

In [6]:
# 접속객체 생성
session = requests.Session()
# 접속객체에 부가정보(header) 삽입하기
session.headers.update({
    "Referer": "",
    "User-Agent": userAgent
})

In [7]:
# 생성한 접속객체를 활용하여 API에 접속
r = session.get(url1)
if r.status_code != 200:
    msg = "[%d Error] %s 에러가 발생함" % (r.status_code, r.reason)
    raise Exception(msg)

In [12]:
# 인코딩 형식 지정하여 beautifulsoup객체를 생성
r.encoding = "utf-8"
soup = BeautifulSoup(r.text)
# soup

In [9]:
# soup객체로부터 원하는 부분 추출하기
test1 = soup.select('h1 > b')
test1

In [10]:
h1 = []
h1_name = []
for item in test1:
    h1 += item.text.strip().split()
result1 = "".join(h1).replace("/", "").strip()
print(result1)
h1_name.append(result1[0:2])
h1_name.append(result1[2:5])
h1_name.append(result1[5:8])
h1_name.append(result1[8:12])
h1_name.append(result1[12:14])
h1_name.append(result1[14:])
print(h1_name)

파전수제비삼겹살잔치국수라면곱창&막창
['파전', '수제비', '삼겹살', '잔치국수', '라면', '곱창&막창']

In [11]:
df = DataFrame(h1_name)
df.to_excel("result1.xlsx")
df

       0
0     파전
1    수제비
2    삼겹살
3   잔치국수
4     라면
5  곱창&막창