데이터 전처리 연습문제

문제 1

###### 네 종류의 식단 A1, A2, A3, A4에 따른 식이용법이 혈액응고시간에 영향을 주는지 알고자 실험한 자료가 다음과 같다.

###### 인자의 수준을 나타내는 변수를 class로, 실습값을 time으로 하여 데이터를 구성하여라

In [21]:
from pandas import DataFrame, read_excel
from pandas import merge, concat, pivot_table, crosstab
import pandas as pd
import numpy as np

In [63]:
A1 = [62,60,63,59,61,0,0]
A2 = [62,67,71,64,65,66,0]
A3 = [68,66,71,67,68,69,70]
A4 = [58,62,60,59,61,63,64]

In [77]:
df1 = pd.DataFrame([[350,425,7],[425,375,8],[475,485,8],[375,400,9]],
                  index=['25','27','30','35'],
                 columns=['READ','MATH','GRADE'])
df1

    READ  MATH  GRADE
25   350   425      7
27   425   375      8
30   475   485      8
35   375   400      9

In [78]:
df2 = pd.DataFrame([[350,300,7],[325,225,9],[300,375,9]],
                  index=['20','33','37'],
                 columns=['READ','MATH','GRADE'])
df2

    READ  MATH  GRADE
20   350   300      7
33   325   225      9
37   300   375      9

In [87]:
df3 = read_excel("https://data.hossam.kr/test/q3.xlsx")
df3

    지역  구성   흡연율
0   도시   남  0.64
1   도시   여  0.45
2   농촌  공학  0.70
3   도시   남  0.85
4   농촌   남  0.72
5   도시   남  0.78
6   도시   여  0.62
7   도시   남  0.79
8   농촌   남  0.75
9   농촌  공학  0.81
10  농촌   여  0.56
11  도시   여  0.48
12  농촌   남  0.72
13  도시  공학  0.68
14  농촌   남  0.79
15  도시   남  0.90
16  농촌   여  0.34
17  도시   여  0.48
18  농촌   여  0.49
19  농촌  공학  0.76

In [99]:
pivot_table(df3,                        # 피벗할 데이터프레임
            index = ['지역', '구성','흡연율'],   # 행 위치에 들어갈 열
            columns = '지역' ,          # 열 위치에 들어갈 열
            values = '흡연율',            # 데이터로 사용할 열
            aggfunc =  ['mean', 'sum']  # 데이터 집계함수
)

Empty DataFrame
Columns: []
Index: [(농촌, 공학, 0.7), (농촌, 공학, 0.76), (농촌, 공학, 0.81), (농촌, 남, 0.72), (농촌, 남, 0.75), (농촌, 남, 0.79), (농촌, 여, 0.34), (농촌, 여, 0.49), (농촌, 여, 0.56), (도시, 공학, 0.68), (도시, 남, 0.64), (도시, 남, 0.78), (도시, 남, 0.79), (도시, 남, 0.85), (도시, 남, 0.9), (도시, 여, 0.45), (도시, 여, 0.48), (도시, 여, 0.62)]

In [92]:
df4 = read_excel("https://data.hossam.kr/test/q4.xlsx")
df4

    학생ID 성별  메모종류
0      1  남     3
1      2  여     2
2      3  여     2
3      4  여     1
4      5  여     2
5      6  여     3
6      7  남     2
7      8  여     2
8      9  여     1
9     10  남     1
10    11  남     2
11    12  남     3
12    13  남     2
13    14  남     1
14    15  남     2
15    16  여     2
16    17  여     1
17    18  여     2
18    19  여     3
19    20  여     2
20    21  여     2
21    22  여     2
22    23  여     2
23    24  여     2
24    25  여     2
25    26  여     2
26    27  여     2
27    28  여     2
28    29  여     1
29    30  여     2

In [94]:
pivot_table(df4,                        # 피벗할 데이터프레임
            index = ['학생ID', '성별','메모종류'],   # 행 위치에 들어갈 열
           # 열 위치에 들어갈 열
            values = '메모종류',            # 데이터로 사용할 열
            aggfunc =  ['mean', 'sum']  # 데이터 집계함수
)

Empty DataFrame
Columns: []
Index: [(1, 남, 3), (2, 여, 2), (3, 여, 2), (4, 여, 1), (5, 여, 2), (6, 여, 3), (7, 남, 2), (8, 여, 2), (9, 여, 1), (10, 남, 1), (11, 남, 2), (12, 남, 3), (13, 남, 2), (14, 남, 1), (15, 남, 2), (16, 여, 2), (17, 여, 1), (18, 여, 2), (19, 여, 3), (20, 여, 2), (21, 여, 2), (22, 여, 2), (23, 여, 2), (24, 여, 2), (25, 여, 2), (26, 여, 2), (27, 여, 2), (28, 여, 2), (29, 여, 1), (30, 여, 2)]